{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Admin Dashboard</h1>
    <p>Welcome, {{ current_user.name }}! This is the central control panel for the system.</p>

    <div class="list-group">
        
        <a href="{{ url_for('admin.manage_users') }}" class="list-group-item list-group-item-action">
        <i class="bi bi-people-fill"></i> Manage Users
        </a>
        
        <a href="{{ url_for('admin.manage_authorized_emails') }}" class="list-group-item list-group-item-action">
        <i class="bi bi-envelope-check-fill"></i> Manage Authorized Emails
        </a>
        
        <a href="{{ url_for('admin.manage_departments') }}" class="list-group-item list-group-item-action">
             <i class="bi bi-building"></i> Manage Departments & Services
        </a>
    </div>

</div>
{% endblock content %}