{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    
                    <div class="text-center mb-4">
                        <h2 class="fw-bold">Admin Login</h2>
                    </div>

                    <form method="POST" action="">
                        {{ form.hidden_tag() }}

                        <div class="form-floating mb-3">
                            {{ form.username(class="form-control", id="floatingInput", placeholder="Username") }}
                            {{ form.username.label(for="floatingInput") }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
                            {{ form.password.label(for="floatingPassword") }}
                        </div>

                        <div class="d-grid">
                            {{ form.submit(class="btn btn-primary btn-lg") }}
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}